# General Configurations
#

# Whether or not this process is a local development version
# In production this value should be set to false
# TEMPLATE-SETUP: When deploying, set this value to false
DEVELOPMENT=true

# The database url
DATABASE_URL=postgresql://postgres:password@localhost:5432/warden

# Discord OAuth2 Configurations
NEXTAUTH_URL=http://localhost:4000
DISCORD_CLIENT_ID=your-discord-client-id
DISCORD_CLIENT_SECRET="your-discord-client-secret"

# JWT Secret
AUTH_SECRET=secret

# The discord bot token
DISCORD_TOKEN=""

# Server checker webhook
SERVER_CHECKER_WEBHOOK=
