@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 10% 3.9%;
    --accent: 240 5% 64.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.2% 33.9%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --brand: 27 96% 61%;
    --brand-foreground: 31 97% 72%;
  }

  .dark {
    --background: 220 64% 8%;
    --foreground: 0 0% 98%;
    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;
    --popover: 220 64% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 100% 50%;
    --primary-foreground: 100 100% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 98%;
    --accent: 0 0% 98%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 98%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --brand: 204 64% 25%;
    --brand-foreground: 204 64% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: roboto, sans-serif;
  }
}

@layer utilities {
  .fade-x {
    mask-image: linear-gradient(to right,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%);
  }

  .fade-y {
    mask-image: linear-gradient(to top,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%);
  }

  .fade-top {
    mask-image: linear-gradient(to bottom, transparent 0%, black 35%);
  }

  .fade-bottom {
    mask-image: linear-gradient(to top, transparent 0%, black 35%);
  }

  .fade-top-lg {
    mask-image: linear-gradient(to bottom, transparent 15%, black 100%);
  }

  .fade-bottom-lg {
    mask-image: linear-gradient(to top, transparent 15%, black 100%);
  }

  .fade-left {
    mask-image: linear-gradient(to right, transparent 0%, black 35%);
  }

  .fade-right {
    mask-image: linear-gradient(to left, transparent 0%, black 35%);
  }

  .fade-left-lg {
    mask-image: linear-gradient(to right, transparent 15%, black 100%);
  }

  .fade-right-lg {
    mask-image: linear-gradient(to left, transparent 15%, black 100%);
  }

  .min-h-dvh-minus-191 {
    min-height: calc(100vh - 191px);
  }
}

.noise-overlay {
  mix-blend-mode: color-dodge;
}

.noise {
  background-image: url('../assets/noise.svg');
  background-repeat: repeat;
  background-size: 200px 200px;
  -webkit-mask-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}